* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
	--grid-gap: 20px;
}
footer {
	justify-content: center;
	flex-direction: column;
	justify-content: space-around;
}

footer,header {
	align-items: center;
	display: flex;
	/*flex-direction: row;*/
	grid-column: 1 /-1;
	/*justify-content: space-between;*/
	padding: 1rem;
	
}
header {
	display: grid;
	align-items: flex-start;


}

nav ul {
	display: flex;
	justify-content: space-between;

	
}
nav ul li {
	margin-right: 5px;

}
nav ul li: last-child {
	margin-right: 0;
}
ul {
	list-style-type: none;
	justify-content: space-between;

}
.contact {
	display: grid;
	align-items: center;

}
.container {
	display: grid;
	grid-gap: var(--grid-gap);
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 8fr 1fr;
	height: 100%;
	margin: 0 auto;

	/*max-width: 1000px;*/
	/*padding: 1rem;*/
	width: 100%;
}
.about_me {
	display: flex;
	display: grid;
	grid-gap: var(--grid-gap);
	/*grid-column: 2 / 3;
	grid-row: 2 / 3;*/
	align-items: center;
	justify-content: space-between;
	justify-content: center;
	flex-direction: column;
	padding: 1rem;
	border-width: 20px;
}
.about_me h2 {
	display: grid;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about_me p {
	display: flex;
	display: grid;
	flex-direction: column;
	width: 20px;
}
.projects {
	align-items: center;
	display: grid;
	display: flex;
	grid-gap: var(--grid-gap);
	justify-content: space-between;
	justify-content: center;
	flex-direction: column;
	padding: 1rem;

}
.projects h2  {
	display: flex;
	display: grid;
	justify-content: center;
	
}
.project1 article,
.project2 article,
.project3 article {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	justify-content: space-between;
}
.skills {
	align-items: center;
	display: flex;
	display: grid;
	grid-gap: var(--grid-gap);
	justify-content: space-between;
	justify-content: center;
	flex-direction: column;
	padding: 1rem;
}
.skills h2 {
	display: grid;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30%;
}
.skills ul li {
	display: flex;
	display: grid;
	justify-content: center;
	margin: 0 0 10px 0;
}
#intro {
	align-items: center;
	display: flex;
	display: grid;
	grid-gap: var(--grid-gap);
	justify-content: space-between;
	justify-content: center;
	flex-direction: column;
}
