:root {
	font-family: helvetica, georgia,serif;

}
div {
	background: rgba(0, 0, 0, 0.5); 
}

footer {
	font-size: 18px;
	background-color: black;
	color: white;
	

}

header {
	color: white;
	font-size: 30px;
	font-weight: bold;

}
nav ul li {
	color: #ffffff;
}
nav ul a:hover {
	color: #e44a66;
	text-decoration: none;
}
a {
	color: white;
	text-decoration: none;

}
a: visited {
	color: white;
}

.img {
	background-image:url("me.jpg");
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
	/*opacity: 0.2; */
	background-attachment: local;
	background-position: center top;
}
.container {
	height: 100%
	opacity: 1; 
	
	
}
.about_me {
	
	color: white;
	font-weight: bolder;

}
.projects {
	color: white;
	font-weight: bolder;	
}
.skills {	
	color: white;
	font-weight: bolder;
}
/*.top_navbar {
	text-decoration: underline;
}
*/
#intro {
	color: white;
	font-size: 40px;
	font-weight: bolder;
}